version: '3.9'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app        # Mount local code for live reload
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
    command: node app.js